.container{
    background-color: #385980;
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.logo {
    font-size: 18pt;
    font-weight: bold;
    color: #fff;
    height: 4rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigators{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 11pt;
    font-weight: bold;
    height: 45px;
    width: 85%;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    text-transform: uppercase;
}

.button span:nth-child(1) {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.button:hover{
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
.end{
    display: flex;
    height: 2rem;
    width: 85%;
    /* align-self: center;    */

    padding: 0 10px;
}

.end svg:hover{
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    transform: rotate(60deg);
    cursor: pointer;
    /* transform: ; */
}



.sidebarOpacity{
    z-index: 50;
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* display: none; */
    animation: opacitor 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes opacitor {
    0% {
        background-color: rgba(0, 0, 0, 0);
        /* display: flex; */
    }
    100% {
        background-color: rgba(0, 0, 0, .8);
        /* display: none; */
    }
    
}
.sidebarContent{
    z-index: 50;
    position: fixed;
    height: 100vh;
    background-color: #385980;
    display: flex;
    flex-direction: column;
    animation: sizer 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* ` z-50 flex lg:hidden fixed h-screen bg-blue-core flex-col` */
@keyframes sizer {
    from {
        width: 0px;
        
        

    }
    to {
        width: 320px;
        
    }
    
}